# Ignore python virtual environments
venv/
.venv/
__pycache__/
*.pyc

# Ignore node modules from your React frontend
node_modules/
dist/
.env

# Ignore heavy data files and notebooks checkpoints (Optional but recommended)
.ipynb_checkpoints/
water_potability.csv